.admin-page{
    padding: 1vw;
    padding-top: 3vw;
    display: flex;
}

.admin-page .order{
    width: 50%;
}

.admin-page .order-items div:first-of-type{
    grid-template-columns: 50% 50%;
}

.admin-page .order-items .item{
    padding: 0.2vw;
}