
.auth-form {
    position: fixed;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/background.jpg');
    background-color: #4e4e4e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.auth-form .title {
    margin: 0;
    position: absolute;
    top: 3vw;
    left: 10vw;
    color: white;

}

.auth-form > div:last-child {
    border: 1px solid rgba(255, 255, 255, 0.322);
    border-radius: 2vw;
    padding: 2vw 0;
    position: relative;
    width: 30vw;
    height: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
    flex-direction: column;
    color: white;
    background-color: #00000071;
}

.auth-form .types {
    display: flex;
    font-size: 1.2vw;
}

.auth-form .types div {
    display: inline;
    padding: 1vw 0;
    padding-left: 4vw;
}

.auth-form .types .active {
    /* background-color: rgba(0, 0, 0, 0.3); */
    text-decoration: underline;
    font-weight: 500;
    /* border: 2px solid rgb(255, 255, 255);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom: none; */
}

.auth-form .types .false {
    cursor: pointer;
    transition: transform 500ms ease;
}

.auth-form .types .false:hover {
    transform: scale(1.05);
}

.auth-form .login-form,
.auth-form .reg-form {
    /* border: 1px solid rgba(88, 88, 88, 0.63);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw; */
    display: flex;
    flex-direction: column;
    padding: 1vw 2vw;
    /* background-color: rgba(36, 36, 36, 0.342); */
}

.auth-form .login-form input,
.auth-form .reg-form input {
    background-color: transparent;
    margin: 1vw 0;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
    border: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1.3vw;
    line-height: 2vw;
}

.auth-form .login-form input {
    border: 1px solid rgba(255, 255, 255, 0.603);
    padding: 0.6vw;
    padding-left: 2vw;
    border-radius: 2vw;
}

.auth-form .login-form input:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.auth-form .login-form input::placeholder {
    color: rgb(161, 161, 161); /* Change the color to red */
}

.auth-form button {
    margin: 1.5vw auto;
    width: 15vw;
    margin-bottom: 0;
    border-radius: 2vw;
    border: 2px solid rgb(163, 163, 163);
    background-color: transparent;
    color: white;
    padding: 0.7vw;
    font-size: 1.2vw;
    font-family: "Montserrat", sans-serif;
    transition: transform 500ms ease;
}

.auth-form button:hover {
    background-color: rgba(178, 34, 34, 0.7);
    transform: scale(1.05);
}

.auth-form span {
    color: rgb(182, 1, 1);
    font-weight: 700;
    font-size: 0.8vw;
    margin-top: 0.5vw;
}

 