.order-page .items .item {
    float: left;
}

.order-page .items .item img {
    width: 5.5vw;
    float: left;
    margin-right: 1vw;
}

.order-page {
    width: 100%;
    padding-top: 3vw;
    display: flex;
}

.order-page .items {
    width: 65%;
    row-gap: 1vw;
    column-gap: 1vw;
    grid-auto-rows: 5.5vw;
    grid-template-columns: repeat(2, 1fr);
    padding: 1vw;
    display: grid;
    flex-direction: column;
}

.order-page .items .item p:first-of-type {
    font-size: 1vw;
}

.order-page .items .item p:last-of-type {
    font-size: 0.9vw;
}


.order-page .items .item h2 {
    margin-right: 3vw;
    overflow: hidden;
    font-size: 1.3vw;
    text-wrap: nowrap;
}

.order-page .items .item .delete-icon {
    color: #ca5252;
    float: right;
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    right: 1vw;
    top: -2vw;
    cursor: pointer;
    transition: transform, color 500ms ease;
}

.order-page .items .item .delete-icon:hover {
    transform: scale(1.2);
    color: #d83030;
}

.order-page .form {
    padding: 0.5vw;
    width: 35%;
}

.order-page .form-input {
    display: flex;
    flex-direction: column;
}

.order-items {
    padding: 1vw;
    width: 50%;

}

.order-items > div:first-of-type {
    display: grid;
    grid-auto-rows: 5vw;
    row-gap: 1vw;
}


.order-items .item img {
    width: 5vw;
    float: left;
    margin-right: 2vw;
}

.order-items .item h2 {
    font-size: 1.4vw;
    overflow-y: auto;
    max-height: 2vw;
    max-width: 100%;
}

.order-items .item p {
    font-size: 1vw;
}

.pagination-block {
    font-size: 1vw;
}

.form-input > input {
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin: 1vw 0;
    line-height: 2vw;
    font-size: 1.2vw;
}

.form-input > button {
    padding: 0.5vw;
    border: 1px solid black;
    font-size: 1.3vw;
    height: 3vw;
    background-color: transparent;
    border-radius: 2vw;
    transition: all 500ms ease;
}

.form-input > button:hover {
    scale: 1.05;
    background-color: #ca5252;
    color: white;
}

.form-input > button:active {
    background-color: #9c3e3e;
}

.form-input > p {
    font-size: 1.2vw;
}

.form > p:last-of-type {
    padding: 1vw;
    font-size: 1.5vw;
}

.form > button:last-of-type {
    padding: 0.6vw;
    width: 100%;
    border-radius: 2vw;
    border: 1px solid black;
    font-size: 1.3vw;
    background-color: transparent;
    transition: all 500ms ease;
}

.form > button:last-of-type:hover {
    scale: 1.05;
    background-color: #ca5252;
    color: white;
}

.form > button:last-of-type:active {
    background-color: #9c3e3e;
}

.order-user-info > p {
    height: 1vw;
}