.list-block{
    border: 1px solid #c9c9c9;
    padding: 0.5vw;
    display: grid;
    row-gap: 1vw;
    column-gap: 1vw;
    grid-auto-rows: 5.5vw;
    grid-template-columns: repeat(2, 1fr);
}

.list-block .order-item h2{
    font-size: 1vw;    
}


.list-block .order-item {
    font-size: 1vw;    
}