@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  user-select: auto;
  
}

/* Работает в Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
} */

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 0.3vw;
  height: 0.3vw;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbd9d9;
  border-radius: 4px;
}

.none {
  display: none;
}

.wrapper {
  position: relative;
  width: 80vw;
  padding-bottom: 10vh;
  min-height: 90vh;
  margin: 0 auto;
}
header{
  position: relative;
  padding-top: 3.5vw;
}

header .logo{
  font-weight: 600;
  font-size: 1.5vw;
}

header ul.nav{
  float: right;
  list-style: none;
  line-height: 1.5vw;
  margin-right: 1vw;
}

header ul.nav .li{
  font-weight: 400;
  display: inline;
  margin-left: 1.5vw;
  cursor: pointer;
  font-size: 1vw;
  text-decoration: none;
  color: #797979;
  transition: opacity 500ms ease;
}


header ul.nav .li:hover{
  color: #bcbcbc;
  opacity: 0.5;
}
header .shop-cart-button{
  float: right;
  cursor: pointer;
  transition: transform, color 500ms ease;
  width: 1.5vw;
  height: 1.5vw;
}

header .shop-cart-button:hover,
header .shop-cart-button.active{
  transform: scale(1.2);
  color: #dc3d3d;
}

header .shop-cart {
  position: absolute;
  top: 6vw;
  right: 9vw;
  width: 25vw;
  background-color: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  -moz-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow: 4px 5px 15px -7px #606060;
  z-index: 100;
  max-height: 22.5vw;

  padding: 1.5vw;
  padding-bottom: 0;
}

header .shop-cart > div{
  overflow: auto;
  max-height: 19.5vw;
}

header .shop-cart .item {
  width: 100%;
  margin-bottom: 1vw;
  float: left;
}

header .shop-cart .empty h2{
  font-size: 1vw;
  margin-bottom: 1vw;
}

header .shop-cart .item img {
  user-select: none;
  width: 5.5vw;
  float: left;
  margin-right: 1vw;
}

header .shop-cart .item h2 {
  font-size: 1vw;
  margin-bottom: 0.2vw;
  overflow: scroll;
  text-wrap: nowrap;
  margin-right: 3vw;
}

header .shop-cart .item p {
  float: left;
  width: 12vw;
  font-size: 1vw;
  color: #797979;
  font-weight: 600;
}
header .shop-cart .item p:last-of-type{
  font-size: 0.8vw;
}

header .shop-cart .item .delete-icon {
  color: #ca5252;
  float: right;
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
  right: 1vw;
  top: -1vw;
  cursor: pointer;
  transition: transform, color 500ms ease;
}

header .shop-cart .item .delete-icon:hover{
  transform: scale(1.2);
  color: #d83030;
}

header .shop-cart .summa {
  float: left;

  margin: 0.5vw 0 1vw 0;
  font-weight: 600;
  font-size: 1.2vw;
}

header .shop-cart .do-order{
  float: right;
  margin-top: 0.5vw;
  color: #838383;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1vw;
  transition: transform 500ms ease;
}

header .shop-cart .do-order:hover{
  transform: scale(1.1);
  color: #ca5252;
}

header .shop-cart .do-order:active{
  transform: scale(1.05);
  color: #772c2c;
}

header .presentation {
  margin: 2vw 0;
  background: url("./static/images/background.jpg");
  width: 100%;
  height: 35vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}

header .presentation::after{
  position: absolute;
  top: 6vw;
  left: 4vw;
  width: 25vw;
  font-size: 3vw;
  font-weight: 600;
  color: white;
  content: 'Лучшие товары для вашего дома';
}

header .presentation::before{
  position: absolute;
  top: 17.5vw;
  left: 4.2vw;
  width: 25vw;
  font-size: 1.5vw;
  font-weight: 300;
  color: #fff;
  content: 'по низким ценам';
}

.user-info{
  float: right;
  padding: 0 0 0 1vw;
  display: flex;

}
.user-info h1 {
  margin-right: 0.7vw;
  margin-left: 0.4vw;
  font-size: 1.2vw;
}

.user-info .exit,
.user-info .account {
  color: black;
  width: 1.4vw;
  height: 1.4vw;
  transition: transform 500ms ease;
}

.user-info .exit:hover,
.user-info .account:hover {
  cursor: pointer;
  color: #d83030;
  transform: scale(1.2);
}

.categories div {
  display: inline-block;
  user-select: none;
  background: #f2f2f2;
  border-radius: 50px;
  padding: 0.6vw 1.2vw;
  font-size: 1.1vw;
  margin-bottom: 1.5vw;
  margin-right: 1vw;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories div:hover{
  border-color: silver;
  transform: scale(1.05);
}

.categories div:active{
  border-color: rgb(129, 129, 129);
  transform: scale(1.02);
  background-color: #cacaca;
}

.categories .active {
  border: 1px darkgray solid;
}

.full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  overflow: auto;
}

.full-item > div {
  width: 600px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 9px;
}

main {
  
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

main > div:first-of-type{
  display: grid;
  row-gap: 2vw;
  column-gap: 2vw;
  grid-auto-rows: 29.2vw;
  grid-template-columns: repeat(4, 1fr);
}

main .item {
  position: relative;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;
  padding-bottom: 3vw;
}

main .item img ,
.full-item img{
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
  cursor: pointer;
}

main .item .rating {
  position: absolute;
  display: flex;
  align-items: center;
  right: -1vw;
  top: 15.5vw;
  font-size: 1.5vw;
  color: rgb(231, 197, 85);
  font-weight: 500;
}

main .item .rating-icon{
  
  width: 2vw;
  height: 2vw;
}

main .item img:hover,
.full-item img:hover{
  transform: scale(1.05);
}

main h2, main p, main b,
.full-item h2, .full-item p, .full-item b{
  
  hyphens: auto;
  margin: 0.5vw 1.3vw;
  color: #333;
}

main h2 {

  overflow-y: auto;
  font-size: 1.2vw;
  max-height: 3vw;
}

main p {
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  font-size: 0.9vw;
  font-weight: 400;
  max-height: 4vw;
}

main b {
  position: absolute;
  font-size: 1.2vw;
  bottom: 0.5vw;
}

main b,
.full-item b{
  color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart{
  position: absolute;
  user-select: none;
  right: 1vw;
  bottom: 0.8vw;
  background: #ca5252;
  width: 2vw;
  height: 2vw;
  text-align: center;
  font-size: 1.3vw;
  line-height: 2vw;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover{
  transform: scale(1.1) translateY(-5px);
}
main .add-to-cart:active,
.full-item .add-to-cart:active{
  transform: scale(1.05) ;
  background-color: #6d2e2e;
}

main .item .counter {
  position: absolute;
  bottom: 1.1vw;
  right: 4vw;
  user-select: none;
  display: flex;
  align-items: center;
}

main .item .counter p {
  margin: 0 0.5vw;
  font-size: 1vw;
  font-weight: 700;
}

main .item .counter .counter-func{
  width: 1.2vw;
  height: 1.2vw;
  transition: all ease 500ms;
}

main .item .counter .counter-func:hover {
  transform: scale(1.2);
  color: #ca5252;
}

main .item .counter .counter-func:active {
  transform: scale(1.1);
  color: #551a1a;
}

.pagination-block {
  padding: 2vw;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  
}

footer{
  user-select: none;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 3vh;
}

.fullscreen-block{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  /* background: url('./static/images/background.jpg');
  background-color: #979797;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:multiply; */
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.226);
}

#error-message{
  position: fixed;
  z-index: 100000;
  right: 20px;
  bottom: 20px;
  max-width: 20vw;
  padding: 2vw;
  background: rgba(148, 52, 52, 0.74);
  color: white;
  border: 3px solid rgb(241, 88, 88);
  border-radius: 2vw;
  animation: fadeIn 0.5s ease-in-out;
}

#error-message p:first-of-type {
  font-weight: 600;
}

#loading-icon{
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 30vh;
  left: 40vw;
  color: rgb(241, 208, 144);
  animation: rotate 4s linear infinite;
}

#admin-panel{
  position: fixed;
  right: 1vw;
  top: 1vw;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 0.3vw 0.5vw;
  border: 2px solid #838383;
  border-radius: 2vw;
  font-size: 0.8vw;
  background-color: #eeeeee;
  transition: all 500ms ease;
}

#admin-panel:hover{
  scale: 1.1;
  background-color: #d8d8d8;
}

#admin-panel:active{
  scale: 1.05;
  background-color: #a5a5a5;
}

@keyframes fadeIn {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}